{% extends "base.html" %}
{% set show_navbar = "True" %}

{% block content %}
    <div class="container my-2">
        <div class="Profile_heading">
            <h4>
                Sustain 6
            </h4>
        </div>
        <div class="text-center mt-3 mb-3 nbutton ">
            <button type="button" class="btn btn-secondary b1">Home</button>
            <button type="button" class="btn btn-secondary b2">Sections</button>
            <button type="button" class="btn btn-secondary b3">Report</button>
            <button type="button" class="btn btn-secondary b4">Data</button>
            <button type="button" class="btn btn-secondary b5">FQA</button>
        </div>
        <div class="c1 mb-3 mt-3 d-flex p-2 justify-content-between">
            <button class="btn btn-primary prev d-inline" style="font-size: 20px"><i class="fa fa-caret-left"
                                                                                     aria-hidden="true"></i> Prev
            </button>
            <h3 class=" text-center  h31 ">Basics: Location</h3>
            <button class="btn btn-primary next d-inline" style="font-size: 20px;">Next <i class="fa fa-caret-right"
                                                                                           aria-hidden="true"></i>
            </button>
        </div>
        <div class="container h4 mt-5 mb-4 text-center ">
            <form method="POST" action="{{ url_for('survey_router.take_survey') }}">
            <div class="form-group">
                {{ data2.input_field.label }}
                {{ data2.input_field(class="form-control") }}
            </div>
{#            <div class="form-group">#}
{#                <label>{{ data1.input_field }}</label>#}
{#                {{ data1.input_field }}#}
{#            </div>#}
{#                {% for form_field in data.selection_fields.data %}#}
{#                    <div class="form-group">#}
{#                        <label>{{ form_field.input_field.label }}</label>#}
{#                        {{ form_field.input_field(class="form-control") }}#}
{#                    </div>#}
{#                {% endfor %}#}
                {% for form_field in data.text_fields.data %}
                    <div class="form-group">
                        <label>{{ form_field.input_field.label }}</label>
                        {{ form_field.input_field(class="form-control") }}
                    </div>
                {% endfor %}
                {#                <div class="form-group">#}
                {#                    <label>Email</label>#}
                {#                    {{ form.email(class="form-control", placeholder="Enter the email", id='email') }}#}
                {#                </div>#}
                {#                <div class="form-group">#}
                {#                    <label>Password</label>#}
                {#                    {{ form.password(class="form-control", placeholder="Enter the password", id='email') }}#}
                {#                </div>#}
                <div>
                    <button class="btn btn-primary"><span class="h5">Save &amp; Continue</span></button>
                </div>
            </form>
        </div>
        <p class="muted text-center">
            Return to end of survey
        </p>
    </div>
{% endblock %}