{% extends "base.html" %}
{% set show_navbar = "False" %}

{% block content %}
    {#<img src= {{ url_for('static', filename = 'logo.png') }} width="300px">#}
    <div class="center"><img
            src={{ url_for('static', filename = 'users/logo.png') }}
                    style="width:300px"/>
        <br><br></div>

    <div class="card">
        <div class="card-header">
            <h1>Welcome to Sustainability Benefits</h1>
        </div>
    </div>
    <div class="card-body">
        <form method="POST" action="{{ url_for('user_router.reset_with_token', token=token) }}">
            <div class="">
                {{ form.password.label() }}
                {{ form.password() }}
            </div>
            <div class="">
                {{ form.password1.label() }}
                {{ form.password1() }}
            </div>
            <div class="">
                <button class="">Submit <i class="fa fa-send"></i></button>
            </div>
        </form>
        <div class="card-footer">
            <div class="">
                <a href="{{ url_for('user_router.login') }}"> <i class="fa fa-lock"></i>
                    Back to login
                </a>
            </div>
        </div>
    </div>
{% endblock %}