{% extends "base.html" %}
{% set show_navbar = "False" %}

{% block content %}
    <div class="container my-5 py-5">
        <div class="text-center mb-5">
            <img src={{ url_for('static', filename = 'users/logo.png') }} width="300">
        </div>
        <div class="login_box">
            <div class="card">
                <h1 class="card-header">Welcome to Sustainability Benefits</h1>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('user_router.send_password_reset_email') }}">
                        <div class="form-group">
                            {#                {{ form.email.label() }}#}
                            <label for="email">Enter your email to receive a login link</label>
                            {{ form.email(class="form-control", placeholder="Enter the email", id='email') }}
                            {#					    	<input type="text" class="form-control" id="Email" placeholder="Enter the Email">#}
                        </div>

                    <button class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('user_router.login') }}"><i class="fa fa-lock" style="font-size:16px"></i> Back
                        to Login</a>
                </div>
            </div>
        </div>

    </div>

    {#<img src= {{ url_for('static', filename = 'logo.png') }} width="300px">#}
    {#    <div class="center"><img#}
    {#            src={{ url_for('static', filename = 'users/logo.png') }}#}
    {#                    style="width:300px"/>#}
    {#        <br><br></div>#}
    {##}
    {#    <div class="card">#}
    {#        <div class="card-header">#}
    {#            <h1>Welcome to Sustainability Benefits</h1>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="card-body">#}
    {#        <form method="POST" action="{{ url_for('user_router.send_mail') }}">#}
    {#            <div class="">#}
    {#                {{ form.email.label() }}#}
    {#                {{ form.email(class="u-full-width") }}#}
    {#            </div>#}
    {#            <div class="">#}
    {#                <button class="">Submit <i class="fa fa-send"></i></button>#}
    {#            </div>#}
    {#        </form>#}
    {#        <div class="card-footer">#}
    {#            <div class="">#}
    {#                <a href="{{ url_for('user_router.login') }}"> <i class="fa fa-lock"></i>#}
    {#                    Back to login#}
    {#                </a>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}