{% extends "base.html" %}
{% set show_navbar = "True" %}

{% block content %}
<div class="container mb-5 pb-5" style="margin-bottom: 200px !important;">
	<div class="Profile_heading">
		<h4>
        Sustain 6
      </h4>
	</div>
<div> <h1>Your Claims History</h1></div>
<div>
  <table class="table-responsive table-hover" id="claims_table">
  <thead>
    <tr class="col_headings">
      <th style="padding-left: 0px !important;">Status</th>
      <th>ID</th>
      <th>Program</th>
      <th>Category</th>
      <th>Focus Area</th>
      <th>Product</th>
      <th style="">Date</th>
      <th>Amount</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="sections">
      <tr>
        <td>
          <div style="width:27%;height:10px;background:whitesmoke">

          </div>
        </td>
        <td>
          <div style="width:54%;height:10px;background:whitesmoke">

          </div>
        </td>
        <td>
          <div style="width:91%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:66%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:77%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:71%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:95%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:60%;height:10px;background:whitesmoke"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div style="width:44%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:67%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:75%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:79%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:66%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:26%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:54%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:23%;height:10px;background:whitesmoke"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div style="width:58%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:84%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:92%;height:10px;background:whitesmoke"></div>
        </td>
        <td><div style="width:33%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:94%;height:10px;background:whitesmoke"></div>
        </td>
        <td><div style="width:63%;height:10px;background:whitesmoke"></div>
        </td>
        <td><div style="width:85%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:46%;height:10px;background:whitesmoke"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div style="width:95%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:85%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:34%;height:10px;background:whitesmoke"></div>
        </td>
        <td><div style="width:82%;height:10px;background:whitesmoke"></div>
        </td>
        <td><div style="width:79%;height:10px;background:whitesmoke"></div>
        </td>
        <td><div style="width:76%;height:10px;background:whitesmoke"></div>
        </td>
        <td><div style="width:96%;height:10px;background:whitesmoke"></div>
        </td>
        <td><div style="width:32%;height:10px;background:whitesmoke"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div style="width:95%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:24%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:59%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:77%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:80%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:43%;height:10px;background:whitesmoke"></div>
        </td>
        <td>
          <div style="width:85%;height:10px;background:whitesmoke">

          </div></td><td><div style="width:75%;height:10px;background:whitesmoke">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div><button class="btn btn-primary">
          Submit New Claim
        </button></div>
</div>

{% endblock %}